.footer__container {
  margin: 64px 0 64px 0;
  width: 100%;
}

.footer__social-media {
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer__links > a {
  width: 64px;
  height: 64px;
}

.footer__grid {
  flex-wrap: wrap;
}

.footer__contact-form {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 32px;
  grid-template-areas: ". .";
}

.footer__links-grid {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px 8px;
  grid-template-areas: ". . .";
}

@media only screen and (max-width: 1220px) {
  .footer__social-media {
    align-items: flex-start;
    flex-direction: column;
  }

  .footer__links {
    margin-top: 22px;
  }
}

@media only screen and (max-width: 600px) {
  .footer__contact-form {
    grid-template-columns: 1fr;
    grid-template-areas: ". ";
    gap: 0;
  }

  .input-area__wrapper textarea {
    height: 100px;
  }

  .footer__links-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". .";
  }
}

@media only screen and (max-width: 400px) {
  .footer__links-grid {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
}
